


<div style="text-align:center; ">


	
		<h3>当前接诊中</h3><br>			
		<table class="table table-striped" style="font-size:20px;">
			
			@{
			<h3>reservation</h3>
				if(Model!=null){
					foreach(var item in Model){
						<tr>
							<th>@item.PATIENT_NM<th>
						
							<td>
								<a href="~/history/doctorview?patient_id=@item.PATIENT_ID">查看、</a> 
								<a>写病历</a> 
								<a>结束</a>
							</td>
						</tr>
					}
				}
			}
	@*
			<tr >
				<th>AAA</th>
				<td><a>查看</a> <a>写病历</a> <a>结束</a></td>
			</tr>
			<tr>
				<th>BBB</th>
				<td><a>查看</a> <a>写病历</a> <a>结束</a></td>
			</tr>
*@
		</table>
	

</div>
	
