@using MVCiHealth.Models;
@model V_RESERVATION

@{
    ViewBag.Title = "医生主界面";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div style="text-align:center; ">
	<h1>DOCTORS</h1>
	<h2>welcome: doctor @(ViewBag.DoctorName)</h2>
</div>
<br>
<br>
<div class="row">
	<div class="col-md-2"></div>
	<div class="col-md-4">
        @{Html.RenderAction("_Reservation"); }
        
	</div>
	<div class="col-md-2"></div>
	<div class="col-md-4">

		<br><br>
		<div><button type="button" class="btn btn-default btn-lg">查看预约</button></div><br>
		<div><button type="button" class="btn btn-default btn-lg">查看评价</button></div><br>
		<div><button type="button" class="btn btn-default btn-lg">查看接诊历史</button></div><br>
		<div><button type="button" class="btn btn-default btn-lg" onclick="location.href='/doctor/Edit'" >修改个人信息</button></div>
	</div>
</div>
	
