@using MVCiHealth.Models
@model V_EVALUATION
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "EditEvaluate Page";
}
<h2>@ViewBag.Title</h2>
<div class="row">
    <div class="col-md-4">
        <img src="~/Resources/Images/Evaluate/doctor.png" alt="显示当前医生的照片" class="img-rounded">
        <input id="score" value="@(ViewData.Model.LEVEL)" type="number" class="rating" readonly="readonly" data-size="xs">
    </div>
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    医生评价
                </h3>
            </div>
            <div class="panel-body">
                <form class="form-horizontal" role="form" method="post" data-ajax="true" data-ajax-method="post">
                    <div class="form-group">
                        <label for="doctorName" class="col-xs-2 col-sm-2 control-label">医生姓名</label>
                        <text id="doctorName" class="col-xs-3 col-sm-3 control-label">@(ViewData.Model.DOCTOR_NM)</text>
                    </div>
                    <div class="form-group">
                        <input id="doctorID" name="DOCTOR_ID" type="hidden" value="@(ViewData.Model.DOCTOR_ID)" />
                    </div>
                    <div class="form-group">
                        <label for="evaluateRate" class="col-sm-2 control-label">评价星级</label>
                        <input id="evaluateRate" name="RATE" type="hidden" class="rating" data-size="xs" />
                    </div>
                    <div class="form-group">
                        <label for="evaluateDetail" class="col-sm-2 control-label">评价内容</label>
                        <textarea id="evaluateDetail" name="DETAIL" placeholder="说点什么吧~(不超过140字)" class="form-control" rows="5"></textarea>
                    </div>
                    <div class="btn-group center-block">
                        <center>
                            <button type="submit" class="btn btn-default" id="submitBt">提交</button>
                            <button type="button" class="btn btn-danger" id="cancelBt" onclick="location.href='/Patient/Index'">取消</button>
                        </center>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

