@charset "utf-8";
/* CSS Document */




#example {
	width:1005px;
	height:453px;
	position:relative;
}


#frame {
	position:absolute;
	z-index:0;
	width:739px;
	height:341px;
	top:-3px;
	left:-80px;
}

/*
	Slideshow
*/

#slides {
	position:absolute;
	top:0px;
	left:0px;
	z-index:100;
}

/*
	Slides container
	Important:
	Set the width of your slides container
	Set to display none, prevents content flash
*/

.slides_container {
	width:1005px;
	overflow:hidden;
	position:relative;
	display:none;
}

/*
	Each slide
	Important:
	Set the width of your slides
	If height not specified height will be set by the slide content
	Set to display block
*/

.slides_container div.slide {
	width:1005px;
	height:453px;
	display:block;
}


/*
	Next/prev buttons
*/

#slides .next,#slides .prev {
	position:absolute;
	top:165px;
	left:-9px;
	width:24px;
	height:43px;
	display:block;
	z-index:101;
}

#slides .next {
	left:975px;
}

/*
	Pagination
*/

.pagination {
	width:100px;
	float:right;
	margin-top:-50px;
	z-index:700;
	position:absolute;
	left:900px;
	bottom:15px;
}

.pagination li {
	float:left;
	margin:0 2px;
	list-style:none;
}

.pagination li a {
	display:block;
	width:14px;
	height:0;
	padding-top:20px;
	background-image:url(../images/pagination.png);
	background-position:0 0;
	float:left;
	overflow:hidden;
}

.pagination li.current a {
	background-position:0 -19px;
}

/*
	Caption
*/

.caption {
	z-index:500;
	position:absolute;
	left:0;
	height:108px;
	padding:0px 0px 0 20px;
	background:#000;
	width:1005px;
	font:Bold 30px Arial, Helvetica, sans-serif;
	color:#fff;
	background:url(../images/title-bg.png) no-repeat;
	line-height:145px;
	
}

