<h2>@ViewBag.PartTitle</h2>
<p>
    iHealth is also an interface for medical staff from various locations. It
    allows the staff to keep track of their patients through messaging
    capabilities, scheduling of office visits, diagnoses, prescribing
    medication, ordering and viewing lab results, among other functions.
</p>