<h2>@ViewBag.PartTitle</h2>
<p>
    This project involves the development of an application through
    which doctors can obtain and share essential patient information and
    can view aggregate patient data. Currently, access to a patient's
    history regarding previous medical problems, previous surgery,
    medications, allergies and other factors is often difficult or obtainable
    only from a patient's recollection. Now, as more hospitals and
    doctor's offices are automated, this information is available
    electronically. However, it is not accessible by other doctors, and is
    often only viewed through some proprietary software so it can not be
    shared.
</p>

