<h2>Expected Final Product</h2>
<p>
    The final product is a site where health care workers can access
    important patient information, the non-emergency access can be
    controlled, and all access would be tracked.
</p>
<p>
    Security and privacy of such a system is of paramount importance.
    HIPAA rules protect patients' information and also allow a patient to
    dictate who can access this information.</a>
</p>
