@using MVCiHealth.Models
@model DOCTOR
@{
    ViewBag.Title = "DoctorView";
}
<h2>@ViewBag.Title</h2>
<div class="row">
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 left">

        <div class="btn-group">
            <button class="btn btn-default btn-lg dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                查看病人 <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li>病人1</li>
                <li>病人2</li>
                <li>病人3</li>
                <li>病人4</li>
                <li>病人5</li>
                <li>病人6</li>
                <li>病人7</li>
                <li>病人8</li>
                <li>病人9</li>
                <li>病人10</li>
                <li>病人11</li>
                <li>病人12</li>
                <li>病人13</li>
                <li>病人14</li>
                <li>病人15</li>
            </ul>
        </div>
        &nbsp;&nbsp;&nbsp;
        <button type="button" class="btn btn-default" aria-label="Right Align">
            <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
        </button>
    </div>
    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
        <div class="panel panel-default">
            <div class="panel-body">
                病人:James &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ID号：10000001
            </div>
            <div class="panel-footer">
                病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息
            </div>
        </div>
</div>
</div>

