<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>LQC</title>
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            background: #F6F6F6;
            overflow-x: hidden;
        }

        #header {
            height: 300px;
            text-align: center;
            line-height: 135px;
            font-size: 36px;
            letter-spacing: 2px;
            font-weight: bold;
            border-bottom: 2px solid #ddd;
            color: #333;
        }

        .logout {
            height: 40px;
            text-align: right;
            padding-right: 20px;
            line-height: 40px;
        }

            .logout span {
                margin-left: 10px;
                background: #ddd;
                padding: 5px 10px;
                border-radius: 4px;
                cursor: pointer;
            }

        .left {
            padding-left: 150px;
            font-size: 16px;
        }

            .left div {
                border-radius: 10px;
                border: 1px solid #bbb;
                padding: 10px;
            }

        .right {
            font-size: 16px;
            line-height: 1.6;
            text-indent: 35px;
        }

            .right div {
                width: 100%;
                padding-right: 20px;
                letter-spacing: 1px;
            }
    </style>
</head>

<body>
    <!-- <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> -->
    <div id="box">
        <div id="header">
            <img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1511934295207&di=71b03e95b7e8925bd688ef9cc665b6fd&imgtype=0&src=http%3A%2F%2Fpic.90sjimg.com%2Fback_pic%2Fqk%2Fback_origin_pic%2F00%2F03%2F16%2Ff83903a2eaad23540b696ab408212f18.jpg" alt="some_text" width="1600" height="300">
        </div>
        <div class="logout">
            病人1
            <span onclick="logout()">注销</span>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 left">
                <div>
                    <p>病人姓名：nobody</p>
                    <p>病人ID：xxxxxxxxxxx</p>
                    <p>病人性别：男</p>
                </div>
            </div>
            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 right">
                <div>
                    病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息
                </div>
            </div>
        </div>
    </div>
    <script>
        function logout () {
            window.history.go(-1);
        }
    </script>
</body>

</html>
