@using MVCiHealth.Models
@model DOCTOR
@{
    ViewBag.Title = "PatientView";
}
<h2>@ViewBag.Title</h2>
<div class="row">
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
        <div class="panel-footer">
            <p>病人姓名：James</p>
            <p>病人ID ：1000001</p>
        </div>
        <button type="button" class="btn btn-default" aria-label="Right Align">
            <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
        </button>
    </div>
    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
        <div class="panel-footer">
            病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息病历信息
        </div>

    </div>
</div>

